.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Card {
  margin: 5vh 25vw 10vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.App-controls {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.App-image {
  height: 100%;
  max-height: 60vh;
  margin-bottom: 2%;
}

.Row-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-evenly;
}
.Row {
  display: flex;
  flex-direction: row;
  width: 33%;
  align-content: space-between;
  justify-content: space-between;
}

.Row-text{
  width: 30%;
}

.Row-button {
  color: aquamarine;
  width: 15%;
}

.Row-centering {
  width: 33%;
}